<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous">
        <style>
            * {
                font-family: 'JetBrains Mono', serif;
            }
        </style>
    </head>
    <body>
      
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Heads up!</strong> We are not related to Kane Pixels or Scott Cawthon
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <nav class="navbar bg-body">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://github.com/TheBlackrabbitProject/branding/blob/main/no%20bg/icon-light.png?raw=true" alt="Icon" width="30" height="auto">
        </a>
        <div class="d-flex display-6">
          <a href="#" style="margin: 2px"><i class='bx bxl-discord-alt' style='color:#ffffff'></i></a>
          <a href="#"><i class='bx bxl-github' style='color:#ffffff'></i></a>
        </div>
      </div>
    </nav>
        <!-- Hero -->
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://github.com/TheBlackrabbitProject/branding/blob/main/no%20bg/icon-light.png?raw=true" alt="" width="auto" height="57">
            <h1 class="display-5 fw-bold">THE BLACKRABBIT PROJECT</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">The Blackrabbit Project is a Five Night's at Freddy's Fangame index where everyone from anywhere in the world can collaborate and help.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/about/welcome"><button type="button" class="btn btn-success btn-lg px-4 gap-3">Start Browsing</button></a>
                <a href="/about/about-us"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Blog</button></a>
              </div>
            </div>
          </div>

          <!-- Cards -->
          <div class="row" style="margin: 5px;">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Totally Open Source</h5>
                  <p class="card-text">Everyone can contribute to the project, including you.</p>
                  <a href="#" class="btn btn-success">Our Github</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">From fans, to fans.</h5>
                  <p class="card-text">Created specially for the fangame community!</p>
                  <a href="#" class="btn btn-success">Our Discord</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <p class="col-md-4 mb-0 text-body-secondary">T. B. P - 2024</p>
          
              <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="https://github.com/TheBlackrabbitProject/branding/blob/main/no%20bg/icon-light.png?raw=true" alt="Icon" width="40" height="auto">
              </a>
          
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link px-2 text-body-secondary">Blog</a></li>
                <li class="nav-item"><a href="https://discord.gg/AYY282Je" class="nav-link px-2 text-body-secondary">Community</a></li>
                <li class="nav-item"><a href="https://github.com/TheBlackrabbitProject/index" class="nav-link px-2 text-body-secondary">Source Code</a></li>
                <li class="nav-item"><a href="/about/about-us" class="nav-link px-2 text-body-secondary">About</a></li>
              </ul>
            </footer>
          </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
    </body>
</html>